<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="forms">
        <form class="form">
            <label>
                <input id="fr" class="form-control" type="text"   (keyup.enter)="profileUser()">
            </label>
        </form>
    </div>
<div class="container-fluid">
    <div class="all_images">
        <div id="img1">
            <a><img src="business.jpeg"></a>

        </div>
        <div id="img2">
            <img src="geo.jpg">
        </div>
        <div id="img3">
            <img src="tech.jpg">
        </div>
        <div id="img4">
            <img src="">
        </div>
    </div>
</div>

</body>
</html>